@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

p {
  font-family: Manrope;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  margin: 1.5rem 0rem;
}

h2 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  margin: 0rem;
}

h3 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
}
