:root {
  --color-black-900: #0e0e0e;
  --color-black-1000: #000000;
  --color-white-1000: #ffffff;
  --color-orange-500: #fbaf85;
  --color-orange-700: #d87d4a;
  --color-grey-100: #fafafa;
  --color-grey-200: #f1f1f1;
  --color-grey-700: #4c4c4c;
  --color-red-600: #cd2c2c;

  --color-primary: var(--color-orange-700);
  --color-primary-hover: var(--color-orange-500);
  --color-secondary: var(--color-black-1000);
  --color-secondary-hover: var(--color-grey-700);
  --color-error: var(--color-red-600);

  --spacing-0: 0rem;
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;
  --spacing-1-5: 1.5rem;
  --spacing-2: 2rem;
  --spacing-2-5: 2.5rem;
  --spacing-10: 10rem;

  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;

  --side-spacing: var(--spacing-10);

  --font-size-15: 15px;
  --font-size-18: 18px;
  --font-size-28: 28px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-56: 56px;

  --font-size-h1: var(--font-size-56);
  --font-size-h2: var(--font-size-40);
  --font-size-h6: var(--font-size-18);

  --nav-bar-height: 92px;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  font-family: Manrope;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-family: Manrope;
  font-weight: 700;
  font-size: var(--font-size-h1);
  line-height: 58px;
  letter-spacing: 2px;
  margin: 1.5rem 0rem;
}

h2 {
  font-family: Manrope;
  font-weight: 700;
  font-size: var(--font-size-h2);
  line-height: 44px;
  letter-spacing: 1.5px;
  margin: 0rem 0rem 1rem 0rem;
}

h3 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  margin-top: 0;
}

h5 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: Manrope;
  font-weight: 700;
  font-size: var(--font-size-h6);
  line-height: 24px;
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  :root {
    --side-spacing: var(--spacing-2-5);
  }
}

@media screen and (max-width: 992px) {
  :root {
    --side-spacing: var(--spacing-2-5);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --side-spacing: var(--spacing-2-5);
    --font-size-h6: var(--font-size-15);
  }
}

@media screen and (max-width: 576px) {
  :root {
    --side-spacing: var(--spacing-1);
    --font-size-h1: var(--font-size-36);
    --font-size-h2: var(--font-size-28);
    --font-size-h6: var(--font-size-15);
  }
  h2 {
    margin: 0;
  }
}
